@model IEnumerable<SistemaEstagio.Models.Produto>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>Index</h1>
<p><a href="/Produtos/Create" class="btn btn-primary">Create New</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome (Cliente)</th>
            <th>Nome (Produto)</th>
            <th>Valor</th>
            <th>Disponível</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Cliente?.Nome</td>
            <td>@item.Nome</td>
            <td>@item.Valor.ToString("N2")</td>
            <td>
                <input type="checkbox" @(item.Disponivel ? "checked" : "") disabled />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduto" class="btn btn-sm btn-outline-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduto" class="btn btn-sm btn-outline-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduto" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>